### 1.5 数据清洗与预处理

数据清洗与预处理是数据分析中的关键步骤，主要目的是处理数据中的缺失值、重复值、异常值和不一致的数据格式等问题。以下是一些常见的数据清洗与预处理方法。

#### 1.5.1 处理缺失值

缺失值在数据分析中是常见的问题，Pandas提供了多种方法来处理缺失值。

1. **检测缺失值**：

In [1]:
import pandas as pd

# 创建含有缺失值的DataFrame
data_with_nan = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, None, 32],
    'City': ['New York', None, 'Los Angeles', 'Chicago']
}
df_nan = pd.DataFrame(data_with_nan)

# 检测缺失值
print(df_nan.isnull())

# 统计缺失值
print(df_nan.isnull().sum())

    Name    Age   City
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
Name    0
Age     1
City    1
dtype: int64

2. **删除缺失值**：

In [2]:
# 删除含有缺失值的行
df_dropped_rows = df_nan.dropna()

# 删除含有缺失值的列
df_dropped_columns = df_nan.dropna(axis=1)

print(df_dropped_rows)
print(df_dropped_columns)

    Name   Age      City
0  Alice  24.0  New York
3  David  32.0   Chicago
      Name
0    Alice
1      Bob
2  Charlie
3    David

3. **填充缺失值**：

In [3]:
# 使用特定值填充缺失值
df_filled_value = df_nan.fillna('Unknown')

# 使用均值填充缺失值
df_filled_mean = df_nan.copy()
df_filled_mean['Age'] = df_filled_mean['Age'].fillna(df_filled_mean['Age'].mean())

print(df_filled_value)
print(df_filled_mean)

      Name      Age         City
0    Alice     24.0     New York
1      Bob     27.0      Unknown
2  Charlie  Unknown  Los Angeles
3    David     32.0      Chicago
      Name        Age         City
0    Alice  24.000000     New York
1      Bob  27.000000         None
2  Charlie  27.666667  Los Angeles
3    David  32.000000      Chicago

#### 1.5.2 处理重复值

重复值可能会导致数据分析结果的偏差，需要识别并处理。

In [4]:
# 创建含有重复值的DataFrame
data_with_duplicates = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice'],
    'Age': [24, 27, 22, 32, 24],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York']
}
df_duplicates = pd.DataFrame(data_with_duplicates)

# 检测重复值
print(df_duplicates.duplicated())

# 删除重复值
df_no_duplicates = df_duplicates.drop_duplicates()

print(df_no_duplicates)

0    False
1    False
2    False
3    False
4     True
dtype: bool
      Name  Age           City
0    Alice   24       New York
1      Bob   27  San Francisco
2  Charlie   22    Los Angeles
3    David   32        Chicago

#### 1.5.3 数据格式转换

数据格式的不一致可能会影响数据处理和分析。

In [6]:
# 创建一个DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': ['24', '27', '22', '32'],
    'Salary': ['$50000', '$60000', '$70000', '$80000']
}
df = pd.DataFrame(data)

# 转换数据类型
df['Age'] = df['Age'].astype(int)

# 去除字符串中的符号并转换数据类型
df['Salary'] = df['Salary'].replace('[\$,]', '', regex=True).astype(float)

print(df)

      Name  Age   Salary
0    Alice   24  50000.0
1      Bob   27  60000.0
2  Charlie   22  70000.0
3    David   32  80000.0

#### 1.5.4 数据合并与连接

在数据分析中，可能需要将多个数据源合并在一起。

1. **合并（merge）**：

In [7]:
# 创建两个DataFrame
df1 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'Key': ['A', 'B', 'E', 'F'],
    'Value2': [5, 6, 7, 8]
})

# 合并DataFrame
df_merged = pd.merge(df1, df2, on='Key', how='inner')  # 内连接
print(df_merged)

df_merged_outer = pd.merge(df1, df2, on='Key', how='outer')  # 外连接
print(df_merged_outer)

  Key  Value1  Value2
0   A       1       5
1   B       2       6
  Key  Value1  Value2
0   A     1.0     5.0
1   B     2.0     6.0
2   C     3.0     NaN
3   D     4.0     NaN
4   E     NaN     7.0
5   F     NaN     8.0

2. **连接（join）**：

In [8]:
# 设置索引并连接
df1.set_index('Key', inplace=True)
df2.set_index('Key', inplace=True)

df_joined = df1.join(df2, how='inner')  # 内连接
print(df_joined)

df_joined_outer = df1.join(df2, how='outer')  # 外连接
print(df_joined_outer)

     Value1  Value2
Key
A         1       5
B         2       6
     Value1  Value2
Key
A       1.0     5.0
B       2.0     6.0
C       3.0     NaN
D       4.0     NaN
E       NaN     7.0
F       NaN     8.0

3. **拼接（concatenate）**：

In [9]:
# 拼接DataFrame
df_concat = pd.concat([df1, df2], axis=0)  # 按行拼接
print(df_concat)

df_concat_col = pd.concat([df1, df2], axis=1)  # 按列拼接
print(df_concat_col)

     Value1  Value2
Key
A       1.0     NaN
B       2.0     NaN
C       3.0     NaN
D       4.0     NaN
A       NaN     5.0
B       NaN     6.0
E       NaN     7.0
F       NaN     8.0
     Value1  Value2
Key
A       1.0     5.0
B       2.0     6.0
C       3.0     NaN
D       4.0     NaN
E       NaN     7.0
F       NaN     8.0

#### 1.5.5 处理异常值

异常值可能会极大地影响数据分析结果，需要进行检测和处理。

In [10]:
import numpy as np

# 创建一个包含异常值的DataFrame
data_with_outliers = {
    'Value': [10, 12, 14, 16, 18, 1000]
}
df_outliers = pd.DataFrame(data_with_outliers)

# 使用标准差检测异常值
mean = df_outliers['Value'].mean()
std = df_outliers['Value'].std()
threshold = 3

# 标记异常值
df_outliers['Outlier'] = (df_outliers['Value'] > mean + threshold * std) | (df_outliers['Value'] < mean - threshold * std)

print(df_outliers)

# 处理异常值（如删除）
df_no_outliers = df_outliers[df_outliers['Outlier'] == False]

print(df_no_outliers)

   Value  Outlier
0     10    False
1     12    False
2     14    False
3     16    False
4     18    False
5   1000    False
   Value  Outlier
0     10    False
1     12    False
2     14    False
3     16    False
4     18    False
5   1000    False

### 详细示例

综合运用上述方法，对一个示例DataFrame进行完整的清洗和预处理。

In [11]:
import pandas as pd
import numpy as np

# 创建示例DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Eve'],
    'Age': [24, 27, np.nan, 32, 24, np.nan],
    'Salary': ['$50000', '$60000', '$70000', '$80000', '$50000', '$90000'],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York', None]
}
df = pd.DataFrame(data)

print("原始数据:")
print(df)

# 处理缺失值
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['City'].fillna('Unknown', inplace=True)

print("\n处理缺失值后:")
print(df)

# 处理重复值
df.drop_duplicates(inplace=True)

print("\n处理重复值后:")
print(df)

# 转换数据格式
df['Salary'] = df['Salary'].replace('[\$,]', '', regex=True).astype(float)

print("\n转换数据格式后:")
print(df)

# 处理异常值
mean_salary = df['Salary'].mean()
std_salary = df['Salary'].std()
threshold = 2
df['Outlier'] = (df['Salary'] > mean_salary + threshold * std_salary) | (df['Salary'] < mean_salary - threshold * std_salary)

print("\n标记异常值后:")
print(df)

# 删除异常值
df = df[df['Outlier'] == False].drop(columns=['Outlier'])

print("\n删除异常值后:")
print(df)

# 数据合并
additional_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Bonus': [5000, 6000, 7000, 8000]
}
df_additional = pd.DataFrame(additional_data)

df = pd.merge(df, df_additional, on='Name', how='left')

print("\n合并附加数据后:")
print(df)

原始数据:
      Name   Age  Salary           City
0    Alice  24.0  $50000       New York
1      Bob  27.0  $60000  San Francisco
2  Charlie   NaN  $70000    Los Angeles
3    David  32.0  $80000        Chicago
4    Alice  24.0  $50000       New York
5      Eve   NaN  $90000           None

处理缺失值后:
      Name    Age  Salary           City
0    Alice  24.00  $50000       New York
1      Bob  27.00  $60000  San Francisco
2  Charlie  26.75  $70000    Los Angeles
3    David  32.00  $80000        Chicago
4    Alice  24.00  $50000       New York
5      Eve  26.75  $90000        Unknown

处理重复值后:
      Name    Age  Salary           City
0    Alice  24.00  $50000       New York
1      Bob  27.00  $60000  San Francisco
2  Charlie  26.75  $70000    Los Angeles
3    David  32.00  $80000        Chicago
5      Eve  26.75  $90000        Unknown

转换数据格式后:
      Name    Age   Salary           City
0    Alice  24.00  50000.0       New York
1      Bob  27.00  60000.0  San Francisco
2  Charlie  26.75  70000.0    Los Angeles
3    David  32.00  80000.0        Chicago
5      Eve  26.75  90000.0        Unknown

标记异常值后:
      Name    Age   Salary           City  Outlier
0    Alice  24.00  50000.0       New York    False
1      Bob  27.00  60000.0  San Francisco    False
2  Charlie  26.75  70000.0    Los Angeles    False
3    David  32.00  80000.0        Chicago    False
5      Eve  26.75  90000.0        Unknown    False

删除异常值后:
      Name    Age   Salary           City
0    Alice  24.00  50000.0       New York
1      Bob  27.00  60000.0  San Francisco
2  Charlie  26.75  70000.0    Los Angeles
3    David  32.00  80000.0        Chicago
5      Eve  26.75  90000.0        Unknown

合并附加数据后:
      Name    Age   Salary           City   Bonus
0    Alice  24.00  50000.0       New York  5000.0
1      Bob  27.00  60000.0  San Francisco  6000.0
2  Charlie  26.75  70000.0    Los Angeles  7000.0
3    David  32.00  80000.0        Chicago  8000.0
4      Eve  26.75  90000.0        Unknown     NaN

通过这些详细的步骤和示例，你可以对数据进行全面的清洗和预处理，确保数据的质量和一致性。